@import "base.css";

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

:root {
  color-scheme: light dark;

  --clr-neutral-900: hsl(233 18 9);
  --clr-neutral-800: hsl(235 14 15);
  --clr-neutral-700: hsl(235 12 19);
  --clr-neutral-600: hsl(234 14 29);

  --clr-neutral-200: hsl(240 26 92);
  --clr-neutral-100: hsl(240 24 96);
  --clr-neutral-0: hsl(0 0 100);

  --clr-purple-400: hsl(274 90 80);
  --clr-purple-500: hsl(274 90 73);

  --clr-yellow-500: hsl(37 100 50);

  --clr-orange-500: hsl(15 99 67);
  --clr-orange-800: hsl(15 99 43);

  --text: light-dark(var(--clr-neutral-900), var(--clr-neutral-200));

  --bg-main: light-dark(var(--clr-neutral-100), var(--clr-neutral-800));

  --bg-accent-1: var(--clr-purple-400);
  --bg-accent-2: var(--clr-yellow-500);
  --bg-accent-3: var(--clr-orange-500);

  --bg-main-hover: light-dark(var(--clr-neutral-200), var(--clr-neutral-600));

  --border: light-dark(var(--clr-neutral-200), var(--clr-neutral-700));

  /* --checkbox-border: var(--text-color); */

  --checkbox-border-hover: light-dark(
    var(--clr-neutral-600),
    var(--clr-neutral-0)
  );

  --primary: var(--clr-purple-400);
  --primary-hover: var(--clr-purple-500);

  --error: light-dark(var(--clr-orange-800), var(--clr-orange-500));
}

/* theme image sets */

[data-theme="light"] {
  color-scheme: light;

  body {
    background-image: url("../assets/images/bg-light-theme.png");
  }

  .logo {
    content: url("../assets/images/logo-light-theme.svg");
  }
}

[data-theme="dark"] {
  color-scheme: dark;
}

/* fonts */

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  background-image: url("../assets/images/bg-dark-theme.png");
}

h1,
.h1 {
  font-size: clamp(2.5rem, 0rem + 8.333vw, 4rem);
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3,
.h3,
textarea {
  font-size: 1.25rem;
  font-weight: 400;
}

/* layouts */

.page-layout {
  --content-max-width: 990px;
  --narrow-max-width: 510px;
  --minimum-content-padding: clamp(1rem, -0.667rem + 5.556vw, 2rem);

  --content: minmax(
    0,
    calc((var(--content-max-width) - var(--narrow-max-width)) * 0.5)
  );
  --narrow: min(
    var(--narrow-max-width),
    100% - var(--minimum-content-padding) * 2
  );

  display: grid;
  grid-template-columns:
    minmax(var(--minimum-content-padding), 1fr)
    [content-start]
    var(--content)
    [narrow-start]
    var(--narrow)
    [narrow-end]
    var(--content)
    [content-end]
    minmax(var(--minimum-content-padding), 1fr);

  > * {
    grid-column: content;
  }
}

.narrow {
  grid-column: narrow;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  > * {
    flex-grow: 1;
    flex-basis: calc((35rem - 100%) * 999);
  }
}

.input-area {
  display: grid;
  grid-template-columns: auto auto;

  textarea {
    grid-column: 1 / -1;
  }
}

/* components */

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

/* utils */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
