.input-area {
  display: grid;
  grid-template-columns: auto;
  column-gap: 1.5rem;
  row-gap: 1rem;

  .textarea-wrapper {
    grid-column: 1 / -1;
  }
}

@media (width > 750px) {
  .input-area {
    grid-template-columns: auto auto 1fr;
  }

  .input-area:has(input[name="character-limit-checkbox"]:checked) {
    grid-template-columns: auto auto auto 1fr;
  }

  .reading-time {
    justify-self: flex-end;
  }
}

/* components */

header {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5rem;
  align-items: center;
  justify-content: space-between;
  padding-block-start: clamp(1rem, 0.118rem + 2.941vw, 2rem);
}

.theme-toggle {
  border-radius: 8px;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  background-color: var(--bg-main);
}

h1 {
  text-align: center;
}

textarea {
  resize: none;
  width: 100%;
  background-color: var(--bg-main);
  border: 2px solid var(--border);
  border-radius: 12px;
  padding: 1.25rem;

  &::placeholder {
    color: currentColor;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--primary-active);
    outline-offset: -2px;
  }
}

label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.625em;
  align-items: center;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1rem;
  height: 1rem;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: grid;
  place-content: center;
  position: relative;

  &::before {
    content: "";
    width: inherit;
    height: inherit;
    transition: 200ms background ease-in-out;
    background-color: transparent;
    border-radius: inherit;
  }

  &::after {
    content: url("../assets/images/icon-check.svg");
    position: absolute;
    transform: scale(0);
    transition: 200ms transform ease-in-out;
    right: 1px;
  }

  &:checked {
    &::before {
      background-color: var(--primary);
    }

    &::after {
      transform: scale(1);
    }
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  width: 100%;
  border: 1px solid var(--clr-neutral-600);
  width: 60px;
  border-radius: 6px;
  padding-block: 0.25rem;
  padding-inline-start: 0.75rem;
  background-color: transparent;

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--primary-active);
    outline-offset: -2px;
  }

  &:invalid {
    border-color: var(--error);
  }
}

.error-message {
  color: var(--error);
}

article {
  color-scheme: light;
  color: var(--text);

  display: grid;
  gap: 0.875rem;
  background-color: var(--bg-accent-1);
  padding-inline: 0.75rem;
  padding-block: 1.5rem;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: 120% center;

  &:nth-of-type(1) {
    background-image: url("../assets/images/pattern-character-count.svg");
  }

  &:nth-of-type(2) {
    background-color: var(--bg-accent-2);
    background-image: url("../assets/images/pattern-word-count.svg");
  }

  &:nth-of-type(3) {
    background-color: var(--bg-accent-3);
    background-image: url("../assets/images/pattern-sentence-count.svg");
  }
}

article h3 {
  order: 2;
}

.letter-density-wrapper {
  margin-block: 1rem;
}

.bars {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1rem;
  row-gap: 0.25rem;

  li {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }

  .bar {
    height: 12px;
    align-self: center;
    background-color: var(--bg-main);
    border-radius: 100vw;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: inherit;
      border-radius: inherit;
      background-color: var(--primary);
      width: var(--pct);
    }
  }

  .percentage {
    justify-self: flex-end;
  }
}

.collapse-toggle {
  background: transparent;
  border: none;
}
