:root:has(.theme-toggle input:not(:checked)) {
  color-scheme: light;

  body {
    background-image: url("../assets/images/bg-light-theme.png");
  }

  .logo {
    content: url("../assets/images/logo-light-theme.svg");
  }
}

:root:has(.theme-toggle input:checked) {
  color-scheme: dark;
}
