/* System default */
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

/* Explicit overrides */
:root[data-theme="light"] {
  color-scheme: light;

  body {
    background-image: url("../assets/images/bg-light-theme.png");
  }

  .logo {
    content: url("../assets/images/logo-light-theme.svg");
  }
}

:root[data-theme="dark"] {
  color-scheme: dark;
}
